.m-header{
	background-color:rgba(0,0,0,0.8);
	z-index:10000;
}
.ca_m_header{
	padding:0px 0px;
}
.m-header .am-icon-bars{
	color:#fff;
}
.am-u-sm-2{
	float:right;
}
.ca_nav{
	background:#fff;
}
.ca_contacts_item_1{
	display:block;
}
@media(max-width:1201px){
	.ca_contacts_item_1{
		display:none;
	}
}
.ca_contacts_item_2{
	display:block;
}
@media(max-width:992px){
	.ca_contacts_item_2{
		display:none;
	}
}
.nav-contain{
	display:block;
}
.topbar{
	display:block;
}
.header-box{
	display:block;
}
@media(max-width:640px){
	.nav-contain{
		display:none;
	}
	.header-box{
		display:none;
	}
	.ca_m_header{
		padding:4px 0px;
	}
	.topbar{
		display:none;
	}
}
