.ca_success_container{
	width:500px;
	min-height:500px;
	background-color:transparent;
	margin:0px auto; 
	padding:30px 15px;
}

@media (max-width: 520px) {
	.ca_success_container{
		width:100%;
	}
}

.ca_success_img{
	width:200px;
	margin:0px auto;
}